asgiref
bcrypt
blinker
click
colorama        
credentials
distlib
Django
dnspython
email_validator
filelock       
Flask
Flask-Login     
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
packaging
passlib
pillow
pipp
platformdirs
pymongo
SQLAlchemy
sqlparse
typing_extensions
tzdata
uri
virtualenv
Werkzeug
WTForms
gunicorn