{% extends 'layout.html' %}
{% block title %}About{% endblock %}

{% block body
%}
<h3>About</h3>
<hr />
<p>
  Welcome to my blog post site :) Create an account, sign up, log in and submit your posts, The site will recieve updates later on when the author has
  more time, in the meantime explore all the features and have fun.
</p>
<p>
  Click the TBC logo below to view their website, a special thanks to them!
</p>
<hr />
<a href="https://www.tbcbank.ge/web/ka">
  <img src="/static/TBClogo.jpeg", style="width: 300px; height: 200px;", alt="Description of the image">
</a>

{% endblock body %}
